{% extends 'index.html' %}

{% block dost_opl %}

    <div class="col-lg-6"></div>
    <div class="col-lg-6">
        <div class="well" id="display">

        </div>
        <div class="checkbox">
          <label>
             <input checked type="checkbox" id="enter">Отправлять по нажатию ENTER
          </label>
        </div>
        <div class="input-group">
          <input type="text" class="form-control" id="textbox" placeholder="Введите текст сообщения...">
          <span class="input-group-btn">
            <button class="btn btn-default" id="submit">SEND!</button>
          </span>
        </div><!-- /input-group -->
    </div>


{% endblock %}
