<!-- расширяет(наследует css) index.html -->
{% extends 'index.html' %}
{% load staticfiles %}

<!-- этот блок внедряется в index.html в месте
где написано { % block main %} { % endblock %}(без пробела после первой фиг скобки)-->

{% block lustry %}
    <div class="row">
	    {% for lustr in object_list %}
          <div class="col-lg-3">
            <div class="thumbnail">
              <h3><a href="{{ lustr.pk }}">{{ lustr.product_title|truncatechars:20 }}</a></h3>
              <img src="http://127.0.0.1:8000/{{ lustr.product_image }}" alt="{{ lustr.product_title }}">
              <div class="caption">
                    <div class="row">
                        <div class="col-lg-12">
                                Есть на складе: {% if lustr.product_present == True %}<span style="color: blue; font-size: 14px"><strong>да</strong></span>{% else %}<span style="color: red; font-size: 14px"><strong>нет</strong></span><br>{% endif %}<br>
                                Под заказ: {% if lustr.product_order == True %}<span style="color: blue; font-size: 14px"><strong>да</strong></span>{% else %}<span style="color: red; font-size: 14px"><strong>нет</strong></span><br>{% endif %}<br>
                        </div>


                        <div class="col-lg-12" style="color: red; font-size: 20px; text-align: right">
                                <strong>{{ lustr.product_current_price|default:0 }} грн</strong>
                        </div>
                    </div>
                    <p style="text-align: right"><a href="{{ lustr.id }}" class="btn btn-primary" role="button">Подробнее</a> <a class="btn btn-success" href='{% url 'add_main' lustr.id %}'>Купить <span class="glyphicon glyphicon-shopping-cart"></span></a></p>
              </div>
            </div>
          </div>
	    {% endfor %}
	</div>

{% endblock %}
